<h1>Libros</h1>

<div class="boton-crear">
    <a href="/temas/<%= temaId %>/libros/crear">Agregar Libro</a>
</div>

<div class="lista-libros">
    <% libros.forEach(function(libro) { %>
        <div class="libro">
            <h3><%= libro.titulo %></h3>
            <p>Autor: <%= libro.autor %></p>
            
            <div class="votos">
                <p>Votos: <%= libro.votos %></p>
                <form action="/libros/<%= libro.id %>/votar" method="POST">
                    <button type="submit"> Votar </button>
                </form>
            </div>

            <div class="acciones">
                <a href="/libros/<%= libro.id %>/editar">Editar</a>
            </div>
            
        </div>
    <% }) %>
</div>

<div class="volver">
    <a href="/temas">Volver a categorías</a>
</div>